
	.class_div___layer-PlanDetailsItemDescription
	{
/* TEMP: */
		position:absolute;
		
		width:200px;
		height:50px;
	}
	
	.class_div___element-PlanDetailsItemDescription--main
	{
		border:1px solid #e5e5e5;
		border-radius:5px;
		box-shadow:2px 2px 3px 1px #d7d7d7;
		
		background:#e5e5e5;
	}
	
	.class_div___element-PlanDetailsItemDescription--main 
		p
	{
		display:none;
		
		padding:5px;
		
		
	}