		
	.class_table___component-RatingSelector__12x12_orange 
		sup,
	.class_table___component-RatingSelector__12x12_orange 
		sub
	{
		overflow:hidden; /* ie6 fix */
		
		width:6px;
		height:12px;
		
		background-image:url(/images/component/RatingSelector/dimensions__12x12-style__orange.png);
	}
	
	.class_table___component-RatingSelector__12x12_orange 
		sup.class___element-status__mouseover,
	.class_table___component-RatingSelector__12x12_orange 
		sup.class___element-status__selected
	{
		background-position:0 -12px;
	}
	.class_table___component-RatingSelector__12x12_orange 
		sub.class___element-status__mouseover,
	.class_table___component-RatingSelector__12x12_orange 
		sub.class___element-status__selected
	{
		background-position:right -24px;
	}
	
	.class_table___component-RatingSelector__12x12_orange 
		sub
	{
		margin-right:2px;
	}
