{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - Our Mission help to find cheap and best web cloud hosting plan
{% endblock %}

{% block body %}

<div class="class_div___layer
            class_div___layer-Main"
     id="id_div___layer-Main">

    {% include 'header.html.twig' %}

    <div class="class_div___element-Main" id="id_div___element-Main">


            <div class="class_div___element-Main--main">
                <div class="class_div___element-Main--main--columns">

                    <div class="class_div___element-Main--main--columns--column class_div___element-Main--main--columns--column__center">

                        <div style="font-size:14px">
                        <h1><strong>Our Mission</strong></h1>
                        <p>
                            Our goal was to create a platform, which will simplify the process of choosing a host provider which is right for you.
                        </p>
            			<br>
                        <p>
                            We are scanning through lots of hosting offers by IPS providers around the globe and put them in our database.
                            Then we give full control to our visitors to share their experience and create a community knowledge about different host plans and providers.
                            If you ever dealt with hosting providers, please feel free to share your thoughts.
                            You will help other people.
                         </p>
						<br>
                        <p>
                            We do not provide any hosting ourselves.
                            Our mission is just collect information and make it available for everyone.                        </p>
                        <br>
                            <p>We do our best to keep information on our up and current, however sometime hosting providers can change their offers and those changes are not reflected on our site.
                                If you see that, we urge you to contact us via email <a href="mailto:bestwebcloudhosting@gmail.com">bestwebcloudhosting@gmail.com.</a></p>
                        </div>

                    </div>

                    <div class="class_div___element-Separator-type__clear_both"></div>
                </div>
            </div>
        </div>

        {% include 'footer.html.twig' %}
</div>
{% endblock %}

