{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - Terms Of Service (finding best web cloud hosting plan)
{% endblock %}

{% block body %}

<div class="class_div___layer
            class_div___layer-Main"
     id="id_div___layer-Main">

    {% include 'header.html.twig' %}

    <div class="class_div___element-Main" id="id_div___element-Main">


            <div class="class_div___element-Main--main">
                <div class="class_div___element-Main--main--columns">

                    <div class="class_div___element-Main--main--columns--column class_div___element-Main--main--columns--column__center">

                        <h1><strond>Terms of Service</strong></h1>
                        <p>
                        Please read this agreement carefully before accessing or using this website. By accessing or using this website, you acknowledge and agree to be legally bound by all of the terms of this agreement. The right to use this website is for you, personally, and cannot be transferred to any other person or entity.
                        </p>
			<br>
                        <h2>Use of Site</h2>
                        <br>
                        <p>bestwebcouldhosting.com authorizes you to view this website ("Site") provided that you retain all copyright
                        and other proprietary notices contained in the original materials on any copies of the materials.
                        You may not modify the materials at this Site in any way or reproduce or publicly display, perform, or distribute or
                        otherwise use them for any public or commercial purpose.
                        Any use of these materials on any other website or networked computer environment for any purpose is prohibited.
                        The materials at this Site are copyrighted and any unauthorized use of any materials at this Site may violate copyright, trademark, and other laws.
                        If you breach any of these Terms, your authorization to use this Site automatically terminates and you must
                        immediately destroy any downloaded or printed materials.
                        </p>
			<br>
                        <h2>Disclaimer of Warranty; Limitation of Liability</h2>
			<br>

                        <p><b>(A)</b> User expressly agrees that use of this Site is at user's sole risk. The content is not promised or guaranteed to be correct, complete or up-to-date. This site is provided on an "as is" and "as available" basis without warranties of any kind, either express or implied, including, but not limited to, warranties of title or implied warranties of merchantability or fitness for a particular purpose, or non-infringement.
                         </p>
			<br>

                        <p><b>(B)</b> Neither this Site, its affiliates nor any of their respective employees, agents, third party content providers or licensors warrant that this Site will be uninterrupted or error free; nor do they make any warranty as to the results that may be obtained from use of this Site, or as to the accuracy or reliability of any of the content provided on or through this Site.
                        </p>
			<br>
                        <p><b>(C)</b> In no event will this Site, its suppliers, or any person or entity involved in creating, producing or distributing this site or other third parties mentioned at this site, be liable for any damages whatsoever (including, without limitation, indirect, incidental, special, consequential or punitive damages or those resulting from lost profits, lost data or business interruption) arising out of the use, inability to use, or the results of use of this site, any websites linked to this site, or the materials or information or services contained at any or all such sites, whether based on warranty, contract, tort or any other legal theory and whether or not this Site has been advised of the possibility of such damages. If your use of the materials, information or services from this site results in the need for services, repair or correction of equipment or data, you assume all costs thereof. Applicable law may not allow the exclusion or limitation of incidental or consequential damages, so these limitations or exclusions may not apply to you.
                        </p>
			<br>
                        <p><b>(D)</b> This Site does not intend any references to entities, products or services in the content or any links on this Site to be endorsements of such entities, products or services.
                        </p>
			<br>
                        <h2>Links to Third-Party Websites</h2>
			<br>

                        <p>Links on this Site to third-party websites are provided solely as a convenience to you. If you use these links, you will leave this Site. Site has not reviewed all of these third-party sites and does not control and is not responsible for any of these sites or their content. Thus, top10bestwebsitehosting.com does not endorse or make any representations about them, or any information, software or other products or materials found there, or any results that may be obtained from using them. If you decide to access any of the third-party websites linked to this Site, you do this entirely at your own risk. top10bestwebsitehosting.com may revise these Terms at any time by updating this posting. You should visit this page from time to time to review the then-current Terms because they are binding on you. Certain provisions of these Terms may be superseded by expressly designated legal notices or terms located on particular pages at this Site.
                        </p>
			<br>
                        <p>Revised January, 07, 2014.
                        </p>


                    </div>

                    <div class="class_div___element-Separator-type__clear_both"></div>
                </div>
            </div>
        </div>

        {% include 'footer.html.twig' %}
</div>
{% endblock %}

