{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - Message has been sent
{% endblock %}

{% block body %}

<div class="class_div___layer
            class_div___layer-Main"
     id="id_div___layer-Main">

    {% include 'header.html.twig' %}

    <div class="class_div___element-Main"
         id="id_div___element-Main"
         style="padding:0;">

        <div class="class_div___element-Main--main">
            <div class="class_div___element-Main--main--columns">

                <div class="class_div___element-Main--main--columns--column
								class_div___element-Main--main--columns--column__single">

                    <div style="height: 50px"></div>

                        <table class="class___width__100">
                            <tr>
                                <td style="width: 20%;"></td>
                                <td style="vertical-align: bottom; text-align: center; width: 60%;">
                                    <h1>Your message has been sent</h1>
                                    <h1>We will contact you shortly</h1>

                                    <div style="height: 50px"></div>
                                    <table class="class___component-Button
                                                class_table___component-Button
                                                class___width__100
                                                class___component-Button__h40_green1
                                                class___component-Button-dimensions__h40
                                                class___component-Button-style__green1"
                                           onclick="document.location.href = '{{ path('bwch_index') }}'">
                                        <tr>
                                            <td style="vertical-align:middle;">
                                                <i><b><s><u>Thanks</u></s></b></i>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 20%;"></td>
                            </tr>
                        </table>
                    </div>

                <div style="height: 50px"></div>

                </div>
                <div class="class_div___element-Separator-type__clear_both"></div>
            </div>
        </div>

    {% include 'footer.html.twig' %}

</div>
{% endblock %}
