	
	.class___component-Button__h38_green_right_arrow 
		s
	{
		position:absolute;
		top:50%;
		
		height:auto;
	}
	.class___component-Button__h38_green_right_arrow 
		u
	{
		position:relative;
		top:-50%;
		
		word-wrap:break-word;
	}
	