	
	.class___component-Button__h38_green_right_arrow 
		i,
	.class___component-Button__h38_green_right_arrow 
		a
	{
		position:relative;
		
		background-position:right -38px;
	}
	.class___component-Button__h38_green_right_arrow 
		b
	{
		position:relative;
		
		height:38px;
		margin:0 17px 0 2px;
		padding:0 10px;
		
		font-size:14px;
		line-height:15px;
		font-weight:normal;
		
		background-position:0 -76px;
		background-repeat:repeat-x;
		
		text-align:left;
		white-space:normal;
	}

	.class___component-Button__h38_green_right_arrow 
		s
	{
		display:table-cell;
		
		height:36px;
		
		vertical-align:middle;
	}
/*
-----------------------------------------------------------------------------------------------------------
------------------------------------------------ SPRITES --------------------------------------------------
-----------------------------------------------------------------------------------------------------------
*/
	.class___component-Button__h38_green_right_arrow 
		td,
	.class___component-Button__h38_green_right_arrow 
		i,
	.class___component-Button__h38_green_right_arrow 
		a,
	.class___component-Button__h38_green_right_arrow 
		b
	{
		font-family:HelveticaNeue-Bold;
		color:#4b6b8b;
		
/*		background-image:url(/images/component/Button/dimensions__h38-style__green_right_arrow.png);*/
	}
	
	.class___background__none 
		td,
	.class___background__none 
		i,
	.class___background__none 
		a,
	.class___background__none 
		b
	{
		font-family:HelveticaNeue-Bold;
		color:#4b6b8b;
		
		background-image:none;
	}


/*
-----------------------------------------------------------------------------------------------------------
------------------------------------------------ LINKS ----------------------------------------------------
-----------------------------------------------------------------------------------------------------------
*/
	.class___component-Button__h38_green_right_arrow 
		a:link,
	.class___component-Button__h38_green_right_arrow 
		a:hover,
	.class___component-Button__h38_green_right_arrow 
		a:visited
	{
		color:#ffffff;
	}


/*
-----------------------------------------------------------------------------------------------------------
------------------------------------------------ EVENTS ---------------------------------------------------
-----------------------------------------------------------------------------------------------------------
*/	
	

	
	.class___element-status__selected 
		.class___component-Button__h38_green_right_arrow 
			td,
	.class___element-status__selected 
		.class___component-Button__h38_green_right_arrow 
			i,
	.class___element-status__selected 
		.class___component-Button__h38_green_right_arrow 
			a,
	.class___element-status__selected 
		.class___component-Button__h38_green_right_arrow 
			b,
	
	.class___component-Button__h38_green_right_arrow 
		.class___element-status__mouseover,
	.class___component-Button__h38_green_right_arrow 
		.class___element-status__mouseover 
			i,
	.class___component-Button__h38_green_right_arrow 
		.class___element-status__mouseover 
			a,
	.class___component-Button__h38_green_right_arrow 
		.class___element-status__mouseover 
			b
	{
		color:#ffffff;
		
		background-image:url(/images/component/Button/dimensions__h38-style__green_right_arrow.png);
	}
	
	
	
	