
	.class_table___element-Rating-position__inline_block-stye__12x12 
		th
	{
		font-family:HelveticaNeue-Bold;
		font-size:14px;
		color:#333333;
	}
	.class_table___element-Rating-position__inline_block-stye__12x12 
		td
	{
		vertical-align:middle;
	}
	.class_table___element-Rating-position__inline_block-stye__12x12 
		.class_table___component-RatingSelector
	{
		margin:0 0 0 8px;
	}