
	.class_div___component-Scrollbar
	{
		visibility:hidden;
		
		position:absolute;
		
		
	}
	
	.class_div___component-Scrollbar 
		b,
	.class_div___component-Scrollbar 
		i,
	.class_div___component-Scrollbar 
		em,
	.class_div___component-Scrollbar 
		div 
			div
	{
		position:absolute;
		
		cursor:pointer;
	}