
	.class_div___element-HomePageMainNavigation
	{
/*
	TODO: set by content
*/
/*		height:334px;*/
	
		background-color:#363f48;
	}
	.class_div___element-HomePageMainNavigation--main
	{
		width:1000px;
		margin:0 auto;
	}
	
	.class_div___element-HomePageMainNavigation--title
	{
		padding:5px 0 0;
		
		font-family:HelveticaNeue-Light;
		font-size:32px;
		line-height:42px;
		color:#ffffff;
		
		text-align:center;
	}