
	body
	{
		font-family:HelveticaNeue,Arial;
		color:#222222;
	}
		
	.class_ul___element-Menu
	{
		list-style:none;
	}
	.class_ul___element-Menu 
		li
	{
		float:left;
		
		margin-top:25px;
		padding:0 50px 0 0;
		
		font-size:15px;
	}


/*
------------------------------------------------------------------------------------------------------------------------
---------------------------------------- Main Center Column ------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
*/

	.class_div___element-Main--main--columns--column__center 
		h1
	{
		margin:0 0 27px;
		
		font-family:HelveticaNeue-Light;
		font-size:24px;
		line-height:38px;
		font-weight:normal;
	}
	.class_div___element-Main--main--columns--column__center 
		h1 
			span
	{
		font-size:18px;
		line-height:normal;
		color:#333333;
	}
	.class_div___element-Main--main--columns--column__center 
		h1 
			span 
				span
	{
		font-family:HelveticaNeue-Bold;
		color:#7cc576;
	}
	
	
	

	
	.class_div___component-Radiobox
	{
		width:25px;
		height:24px;
		margin:3px 0;
		
		background:url(/images/component/Radiobox/25x24/round/border__1_solid_bcbcc4_7cc576-checkmark__12_10_7cc576.png);
	}
	
	.class_div___component-Radiobox.class___element-status__selected
	{
		background-position:0 -26px;
	}
	
	
	
	.class_div___element-Separator-style__1
	{
		overflow:hidden;
		
		height:1px;
		
		background-color:#e5e5e5;
	}
	
	
	
	
	.class_ul___element-List-style__1
	{
		margin:24px 0 0 64px;
	}
	.class_ul___element-List-style__1 
		li
	{
		margin:0 0 8px 0;
		
		font-size:14px;
		
		list-style:outside square;
	}
	.class_ul___element-List-style__1 
		b
	{
		font-family:HelveticaNeue-Bold;
		color:#ee8844;
	}
	
	
	
	
	.class_ul___element-List-style__2
	{
		float:left;
		
		border:1px solid #e5e5e5;
		border-right:none;
	}
	.class_ul___element-List-style__2 
		li
	{
		float:left;
		
		padding:12px 10px;
		border-right:1px solid #e5e5e5;
		
		font-family:HelveticaNeue-Bold;
		
		background:#eff2f4;
	}
	.class_ul___element-List-style__2 
		li 
			b
	{
		font-size:18px;
	}
	
	
	
	.class_div___element-CustomButtons-style__1 
		a
	{
		float:left;
		
		margin:0 0 0 10px;
		padding:14px 10px;
		border:1px solid #e5e5e5;
		border-radius:5px;
		
		color:#363f48!important;
		
		text-decoration:none;
		
		background:#eff2f4;
	}
	.class_div___element-CustomButtons-style__1 
		b
	{
		display:block;
		
		height:30px;
		padding:0 0 0 40px;
		
		background:url(/images/shared/icon/calculator/28x32/color__7cc576.png) no-repeat;
		
		cursor:pointer;
	}
	.class_div___element-CustomButtons-style__1 
		i
	{
		display:block;
		
		height:30px;
		padding:0 0 0 40px;
		
		line-height:30px;
		
		font-style:normal;
		
		background:url(/images/shared/icon/RSS/32x32/style__default.png) no-repeat;
		
		cursor:pointer;
	}
	
	.class_div___element-CustomButtons-style__2 
		a
	{
		display:block;
		
		width:60px;
		margin:0 0 0 auto;
		padding:6px 8px;
		border:1px solid #e5e5e5;
		border-radius:5px;
		
		line-height:9px;
		color:#363f48!important;
		
		text-decoration:none;
		
		background:#eff2f4;
	}
	.class_div___element-CustomButtons-style__2 
		b
	{
		display:block;
		
		padding-left:18px;
		
		text-align:left;
		
		background:url(/images/shared/icon/calculator/13x16/color__7cc576.png) left center no-repeat;
		
		cursor:pointer;
	}
	
	
	
	
	.class___element-Frame-style__1
	{
		padding:10px;
		
		border:1px solid #e5e5e5;
		
		background-color:#eff2f4;
	}
	
	

	
	
	
	

	.class_table___element-style__1 
		.class_tr___element-height__50px
	{
		height:50px;
	}
	.class_table___element-style__1 
		.class_tr___element-height__40px
	{
		height:40px;
	}
	.class_table___element-style__1 
		th
	{
		width:160px;
	}
	.class_table___element-style__1 
		th,
	.class_table___element-style__1 
		td
	{
		vertical-align:middle;
	}
	
	.class_table___element-style__1 
		th 
			b,
	.class_table___element-style__1 
		th 
			i
	{
		display:block;
		
		
		padding:0 30px 0 0;
		
		font-size:15px;
		font-style:normal;
		font-weight:normal;
		
		text-align:right;
	}
	.class_table___element-style__1 
		th 
			b
	{
		font-family:HelveticaNeue-Bold;
	}
	.class_table___element-style__1 
		th 
			i
	{
		font-family:HelveticaNeue-Light;
	}
	
	.class_table___element-style__1 
		td 
			b
	{
		font-family:HelveticaNeue-Bold;
		font-size:15px;
	}
	
	
	

	
	.class_table___element-style__2 
		th
	{
		height:40px;
		border-top:1px solid #e5e5e5;
		border-bottom:1px solid #e5e5e5;
		
		vertical-align:middle;
		
		background:#eff2f4;
	}
	.class_table___element-style__2 
		th 
			b
	{
		display:block;
		
		width:120px;
		padding:0 20px;
	}
	.class_table___element-style__2 
		th 
			a
	{
		font-family:HelveticaNeue-Bold;
		font-size:15px;
		
		text-decoration:underline;
	}
	.class_table___element-style__2 
		td
	{
		height:35px;
		border-bottom:1px solid #e5e5e5;
		
		border-right:1px solid #e5e5e5;
		
		font-size:13px;
		
		text-align:center;
		vertical-align:middle;
	}
	th 
		.class_table___element-style__2 
			th,
	th 
		.class_table___element-style__2 
			td
	{
		border-left:1px solid #e5e5e5;
	}
	.class___element-ordinal_position__last 
		.class_table___element-style__2 
			th
	{
		border-right:1px solid #e5e5e5;
	}

	.class_table___element-style__2 
		td 
			span
	{
		display:block;
		
		margin:0 0 0 35px;
		
		line-height:18px;
		
		text-align:left;
	}
	
	.class_table___element-style__2 
		td 
			i
	{
		float:left;
		
		width:18px;
		height:18px;
		margin:0 0 0 10px;
		
		
		
		background:url(/images/shared/icon/information/18x18/color__4b6b8b_ffffff.png) no-repeat;
	}
	
	
	
	
	
	
	
	
	
	
	
	